# Ignore compiled class files
*.class

# Ignore build directories
/bin/
/out/
/build/
/target/

# IDE-specific folders/files
# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS system file
.DS_Store
